<h2>My RSVP</h2>
<br>
<div class='form myrsvp'>
  <form action="/users/<%= session_slug %>/edit" method="POST">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <label for="first_name">First Name: </label>
    <input type="text" id="first_name" name="user[first_name]" value="<%= @user.first_name %>">

    <br><br>

    <label for="last_name">Last Name: </label>
    <input type="text" id="last_name" name="user[last_name]" value="<%= @user.last_name %>">

    <br><br>
    <% if attending? %>
      <label for="meal">Meal: </label><br>
      <input type="radio" id="rsvp" name="meal[menu_item]" value="Filet Mignon with Garlic Herb Butter" <%= check_meal("Filet Mignon with Garlic Herb Butter", first_guest) %>> Filet Mignon with Garlic Herb Butter</input><br>
      <input type="radio" id="rsvp" name="meal[menu_item]" value="Crispy Skin Salmon" <%= check_meal("Crispy Skin Salmon", first_guest) %>> Crispy Skin Salmon</input><br>
      <input type="radio" id="rsvp" name="meal[menu_item]" value="Mushroom & Chervil Risotto" <%= check_meal("Mushroom & Chervil Risotto", first_guest) %>> Mushroom & Chervil Risotto (vegetarian)</input><br>
      <input type="radio" id="rsvp" name="meal[menu_item]" value="Tofu Banh Mi Sliders" <%= check_meal("Tofu Banh Mi Sliders", first_guest) %>> Tofu Banh Mi Sliders (vegan)</input><br>

      <br><br>

      <label for="notes">Food Notes: </label>
      <input type="text" id="notes" name="meal[notes]" value="<%= current_user.guests.first.meal.notes %>">

      <br><br>

      <center><h3>Confirm RSVP</h3></center>
    <% else %>
      <br>
      <center><h2>You have RSVP'ed 'No'</h2>
      <br>
      <h3>Change RSVP</h3></center>
    <% end %>
    <input type="hidden" id='hidden' name="user[rsvp]" value="Yes">
    <center><input type="submit" value="Yes"></center>
  </form>
  <form action='/guests' method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <center><input type="submit" value="No"></center>
  </form>
</div>
